@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

body {
  background-color: #f6f6f6;
}

* {
  box-sizing: border-box;
  font-family: 'Italiana', serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main > nav,
main > section {
  width: 100%;
  max-width: 70%;
  padding: 20px 0;
}
